<div *ngIf="property" class="property-detail">
    <h1>{{ property.title }}</h1>
    <p><strong>Price: </strong>{{ property.price }}</p>
    <p><strong>Location: </strong>{{ property.location }}</p>
    <p><strong>Type: </strong>{{ property.propertyType }}</p>
    <p><strong>Number of Bedrooms: </strong>{{ property.numberOfBedrooms }}</p>
    <p><strong>Number of Bathrooms: </strong>{{ property.numberOfBathrooms }}</p>
    <p><strong>Description: </strong>{{ property.description }}</p>
</div>
  