<div class="login-registration">
    <h1>Login</h1>
    <input [(ngModel)]="user.username" placeholder="Username">
    <input [(ngModel)]="user.password" placeholder="Password" type="password">
    <button (click)="onLogin()">Login</button>
  
    <h1>Register</h1>
    <input [(ngModel)]="user.username" placeholder="Username">
    <input [(ngModel)]="user.email" placeholder="Email">
    <input [(ngModel)]="user.firstName" placeholder="First Name">
    <input [(ngModel)]="user.lastName" placeholder="Last Name">
    <input [(ngModel)]="user.password" placeholder="Password" type="password">
    <button (click)="onRegister()">Register</button>
  </div>
  